<h2>{[{ statusMsg }]}</h2>
<div class="images-wrapper">
    <div ng-repeat="(key, photo) in recentFlickrImages" class="item">
        <a href="/#!/single/{[{ photo.farm }]}/{[{ photo.server }]}/{[{ photo.id }]}/{[{ photo.secret }]}/z">
            <img src="https://farm{[{ photo.farm }]}.staticflickr.com/{[{ photo.server }]}/{[{ photo.id }]}_{[{ photo.secret }]}_q.jpg)"
                 title="{[{imageData.title}]}"/>
        </a>
    </div>
    <br class="clear"/>
</div>