<a href="/#!/">Home</a>
<h2>Single Image</h2>
<div class="size-links-wrapper">
    <div ng-repeat="(sizeKey, sizeTitle) in imageSizes" class="item">
        <div ng-if="sizeKey == photo.size">
            <span>{[{sizeTitle}]}</span>
        </div>
        <div ng-if="sizeKey != photo.size">
            <a href="/#!/single/{[{ photo.farm }]}/{[{ photo.server }]}/{[{ photo.id }]}/{[{ photo.secret }]}/{[{ sizeKey }]}">{[{sizeTitle}]}</a>
        </div>
    </div>
</div>
<img src="https://farm{[{ photo.farm }]}.staticflickr.com/{[{ photo.server }]}/{[{ photo.id }]}_{[{ photo.secret }]}_{[{ photo.size }]}.jpg"
     title="{[{imageData.title}]}"/>
