body {
    background: #222222;
    font: 18px/1.5 sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    margin: 10px 0 20px 0;
    font-size: 26px;
    line-height: 28px;
}

a {
    color: #FAA61A;
}

a:hover {
    color: #E83F23;
}

.clear {
    clear: both;
}

.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#wrapper {
    background: #FFF;
    margin: 10px auto;
    max-width: 820px;
    text-align: center;
}

#container {
    padding: 10px;
}

.size-links-wrapper {
    padding: 10px 0 20px 0;
}

.size-links-wrapper .item {
    display: inline-block;
    margin-right: 10px;
}

.size-links-wrapper a,
.size-links-wrapper span {
    font-size: 12px;
    line-height: 14px;
}

.images-wrapper {

}

.images-wrapper .item {
    float: left;
    padding: 5px;
}

.images-wrapper .item a {

}

.images-wrapper .item img {

}
